@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 1350px;
  display: block;
}
header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #fff;
}
.header-top,
.search_box,
.sign-in,
.header-nav {
  margin: 40px 150px 0px 170px;
}

section,
article {
  margin: 0 150px 0 150px;
}
.header-nav {
  clear: left;
}
.ebook-logo img {
  margin: 20px;
  width: 200px;
  float: left;
}
.search_box {
  float: left;
  position: relative;
  margin: 28px 0 0 90px;
  width: 300px;
  height: 60px;
}
.header-top .input {
  border: 0;
  outline: none;
}
.search_box .input {
  top: 0;
  left: 0;
  width: 400px;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid blue;
  border-radius: 50px;
}

.search_box .btn {
  position: absolute;
  top: 11px;
  right: -85px;
  width: 20px;
  height: 100%;
  z-index: 0;
  cursor: pointer;
}

.sign-in {
  display: flex;
  align-items: center;
}
.sign-in img {
  margin: 30px 0 0 200px;
  width: 50px;
  max-width: 100%;
}

.sign-in-text {
  position: absolute;
  margin: 28px 0 0 260px;
  font-size: 12px;
}

.header-nav {
  text-align: center;
}

.header-nav ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.header-nav ul li {
  width: 120px;
  left: 0;
  margin: 0px 70px;
  padding: 10px;
}
.header-nav ul li a {
  color: black;
  text-decoration: none;
}

.active,
.header-nav ul li:hover {
  border-bottom: 3px solid blue;
}
.header-nav ul li a:hover {
  color: blue;
}
.header-nav ul li a:active {
  color: blue;
}

.container {
  display: flex;
  align-items: center;
}
.body-heading-img img {
  max-width: 100%;
  padding: 20px;
  margin: 20px;
  width: 300px;
}
.body-heading .desc {
  width: 750px;
  padding-left: 150px;
  padding-right: 20px;
}
.desc span h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.new-book {
  display: flex;
  padding-top: 75px;
  padding-bottom: 75px;
}
.new-book .book {
  margin: 0px 140px 0px 0px;
}
.last-book {
  padding-right: 70px;
}
.new-book .next-arrow img {
  padding-top: 60px;
  width: 17px;
  cursor: pointer;
}
.next-book {
  padding-top: 0;
}
